html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small, figure {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

body {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

h1 {
  text-align: center;
  font-size: 50px;
}
.group:after {
  content: "";
  display: block;
  clear: both;
}

.snake-game {
  box-sizing: border-box;
  width: 400px;
  height: 400px;
  margin: auto;
}

.grid-box {
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 10px;
  height: 10px;
  /*border-right: 1px solid black;
  border-bottom: 1px solid black;*/
}

.grid {
  box-sizing: border-box;
  list-style-type: none;
  width: 401px;
  height: 401px;
  background-color: gray;
  /*border-top: 1px solid black;
  border-left: 1px solid black;*/
}

.grid-box.snakey {
  background-color: green;
}

.grid-box.apple {
  background-color: red;
}

.losing-message {
  position: absolute;
  top: 150px;
  left: 850px;
  font-size: 30px;
}

.score {
  font-size: 20px;
  text-align: center;
}
