html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small, figure {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

body {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
.group:after {
  content: "";
  display: block;
  clear: both;
}

.snake-game {
  box-sizing: border-box;
  width: 400px;
  height: 400px;
  margin: auto;
}

.grid-box {
  box-sizing: border-box;
  float: left;
  width: 40px;
  height: 40px;
  border-right: 1px solid green;
  border-bottom: 1px solid green;
}

.grid {
  box-sizing: border-box;
  list-style-type: none;
  width: 401px;
  height: 401px;
  border-top: 1px solid green;
  border-left: 1px solid green;
}
